@*@using System.Linq.Expressions;
@using DungeonSlayers.Models;
@model Expression<Func<dynamic, dynamic>>
@{ 
    var width = (string)ViewData["addon-width"] ?? "100px";
    var abbr = ViewData["abbr"];
}

<span class="input-group-addon" style="width:100px;"><abbr title="Experience Points">XP</abbr>:</span>
@Html.EditorFor(Model, new { htmlAttributes = new { @class = "form-control" } })
@Html.ValidationMessageFor(Model, "", new { @class = "text-danger" })*@