@using DungeonSlayers.Models
@model CharacterWeapon

@*<tr>*@
    <td><button type="button" id="add-weapon" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
    <td>@Model.Weapon.Name</td>
    <td>+@Model.Weapon.WeaponBonus</td>
    <td @(Model.Weapon.Ranged?"style='background-color:darkgray'":"")></td>
    <td @(!Model.Weapon.Ranged?"style='background-color:darkgray'":"")></td>
    <td></td>
    <td>@Model.Weapon.Effect</td>
@*</tr>*@