@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Under Construction</h1>
    <p>Data will be wiped often</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2><a href="/">Dashboard</a></h2>
        <div class="alert alert-danger" role="alert">Not yet implemented</div>
        <p>
            This will contain DM data on current campaign status and next scheduled session
        </p>
    </div>
    <div class="col-md-4">
        <h2><a href="/Home/Active">Active</a></h2>
        <div class="alert alert-danger" role="alert">Not yet implemented</div>
        <p>Direct Link to player's currently active character.</p>
    </div>
    <div class="col-md-4">
        <h2><a href="/Characters">Characters</a></h2>
        <div class="alert alert-warning" role="alert">Under Construction</div>
        <p>List of all player characters.</p>
    </div>
</div>