@model DungeonSlayers.Models.Character

<table class="table table-bordered">
    <tr>
        <th>Equipment</th>
        <th>Where Carried?</th>
        <th>Special</th>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
    </tr>
</table>