@model DungeonSlayers.Models.Character

<table class="table table-bordered table-thin" id="equipmentTable">
    <tr>
        <th width="35px">
            <button type="button" class="btn btn-success" data-bind="click: addMagicEquipment"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
        </th>
        <th width="55px">#</th>
        <th width="55%">Name</th>
        <th>Where Carried?</th>
        <th width="100px">Action</th>
    </tr>
    <tbody>
        <!-- ko foreach: MagicEquipments -->
        <tr data-bind="css: {equipped: Equipped()}">
            <td>
                <button type="button" class="btn btn-danger" data-bind="click: $parent.removeMagicEquipment"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            </td>
            <td><input class="form-control text-box single-line valid" data-bind="value: Quantity" /></td>
            <td><input class="form-control text-box single-line valid" data-bind="value: Note" /></td>
            <td><input class="form-control text-box single-line valid" data-bind="value: Location" /></td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-default" data-bind="text: Equipped()?'Unequip':'Equip',click: function(data, event) {data.Equipped(!data.Equipped())}">Equip</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" data-bind="click: function(data, event) { if(Quantity()<=1){$parent.removeMagicEquipment($data);} else {Quantity(Quantity()-1)};}">Use</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        <!-- /ko -->
    </tbody>
</table>