@model DungeonSlayers.Models.Character

<table class="table table-bordered">
    <tr>
        <th>Herbs, Potions, Artifacts</th>
        <th>Effect</th>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td></td>
    </tr>
</table>