@model DungeonSlayers.Models.Character

<table class="table table-bordered">
    <tr>
        <th>SPELL</th>
        <th width="10%">CB</th>
        <th width="5%"><img src="~/Content/CombatIcons_xcf-TargetedSpellcasting.png" width="20" /></th>
        <th width="5%"><img src="~/Content/CombatIcons_xcf-Spellcasting.png" width="20" /></th>
        <th width="10%">TOTAL</th>
        <th width="10%">DISTANCE</th>
        <th width="10%">CP</th>
        <th>EFFECT</th>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>